
body {
background-color: #F8DAB0;
}

nav ul {
  position : relative;
  margin : 0px;
  padding : 0px;
  text-align: left;
}

nav li {
  position : relative;
  display : inline;
  border : 3px solid black;
  margin : 0px 3px ;
}

input[type="button" i] {
  background-color: transparent;
  border : solid 3px black;
  padding : 0;
}

.button:hover {
  color : #01DF74; 
  background-color: white;
}


h1 {
border : 3px solid black;
text-align : center;
padding : 6px;
font-size: 20px;
margin : 30px 25px 15px 25px;
font-family: 'Lexend Giga', sans-serif;
font-style: normal;
}

nav {
  text-align: right;
  margin : 0 0 0 25px; 
  font-family: 'Lexend Giga', sans-serif;
}


a:link {color: black; text-decoration: none;}
a:visited {color : black;text-decoration: none;}
a:hover {color : #01DF74; text-decoration: none; background-color: white;}
a:active {color : black;text-decoration: none;}


#profile {
  width : 307px;
  height : 307px;
  border : 3.5px solid black;
  border-style: o;
  position : relative;
  left : 25%;
  margin-top : 100px;

}


#info {
  width : 350px;
  padding : 20px;
  border : 3px solid black;
  font-family: 'Noto Sans KR', sans-serif;
  position : relative;
  left : 45%;
  margin-top : 12px;
}

.gallery {
  padding : 100px 150px;
  text-align: center;
}

.photo {
  width: 300px; height: 300px;
  border : 3px solid black;
  position : relative;
  margin : 5%;
  display : inline-block;
}

.photo-title {
  padding: 0;
  border-top: 3px solid black;
  text-align: left;
  font-weight: bold;
  font-style: normal;
}

.box #contact {
  position : relative;
  width : 40%;
  padding : 30px;
  border : 3px solid black;
  font-family: 'Lexend Giga', sans-serif;
  text-align: center;
  left : 30%;
  margin : 200px 0;
}

h3 {
  text-align: center;
  margin-top : 0px;
  margin-bottom: 30px;
  color : black;
  letter-spacing: 5px;

}

.panel-footer {
  background-color: rgba( 255, 255, 255, 0 );
  border-top: 3px solid black;
  font-family: 'Lexend Giga', sans-serif;
  margin-top : 70px;
  text-align : center;
}

.badge {
  display: inline-block;
  padding: 3px 4px 2px 4px;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #777;
}

@media (max-width : 700px) {
  #info {
    left : 25%;
    width : 307px;
    transition : 0.5s;
  }

  #contact {
    width : 50%;
    left : 25%;
    transition : 0.3s;
  }

}